
# dependencies
/node_modules
/main/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local
.the-secret-322708-firebase-adminsdk-vtp9m-4fe87906a0.json
